@model Video


    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="notice-right-wrapper mb-25 pb-25">
            <h3>TAKE A VIDEO TOUR</h3>
            <div class="notice-video">
                <div class="video-icon video-hover">
                    <a class="video-popup" href="@Model.Link">
                        <i class="zmdi zmdi-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

